body {
  width: 1000px;
  margin: auto;
  font-size: 1.3rem;
}
h1 {
  font-weight: 300;
}
input {
  height: 20px;
  margin-top: 5px;
}
select {
  margin-top: 5px;
  height: 25px;
}

.seccion-1 {
  width: 529px;
  float: left;
}

.titulo {
  font-weight: bolder;
  font-size: 18px;
}
span {
  color: red;
  font-weight: bolder;
  font-size: 20px;
}

label {
  font-size: 12px;
}
.apellido {
  width: 400px;
}

.contenedor-email {
  margin-top: 2rem;
}
.email {
  width: 400px;
}


/* Sección 2 */
.seccion-2 {
  width: 464px;
  float: right;
}
.direccion {
  width: 400px;
}

.codigo-prov {
  float: left;
}
.postal {
  width: 87px;
}

.mun-pais {
  width: 350px;
  float: right;
}

/* Telefono */
.contenedor-tel {
  margin-top: 8rem;
}
.fijo {
  float: left;
}
.movil {
  width: 280px;
  float: right;
}

/* boton */
.boton {
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid gray;
  float: right;
  padding-top: 20px;
}

.boton button {
  float: right;
  padding: 10px;
  cursor: pointer;
}